name: CI-CD

on: [push]

jobs:
  build-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t local-app ./app

      - name: Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: local-app
          severity: CRITICAL,HIGH